{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 130,
  "useTabs": false,
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}
