.cover__wrapper {
  position: relative;
  z-index: 1;
  padding-top: 165px;
  padding-bottom: 50px;
  background: url('../../../images/cover.jpg') center center / cover no-repeat;
}

.cover__title {
  gap: 20px;
  font-size: 100px;
  line-height: 1;
  color: #fff;
  letter-spacing: 30px;
}

.cover__description {
  gap: 78px;
  margin-top: 136px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.2727;
  color: #fff;
  word-spacing: 18px;
}
