.footer {
	padding: 90px 0;
}

.footer__wrapper {
	display: grid;
	grid-template-columns: 240px auto auto;
	align-items: start;
	justify-content: space-between;
	padding-top: 3px;
}

.footer__menu-list {
	list-style: none;
}

.footer__link {
	display: block;
	width: fit-content;
	margin: 0 auto;
	font-size: 18px;
	text-underline-offset: 4px;
}

.footer__link_active {
	text-decoration: none;
}
