body {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.wrapper {
  width: 100%;
  max-width: calc(var(--wrapper-size) + (2 * var(--wrapper-offset)));
  padding: 0 var(--wrapper-offset);
  margin: 0 auto;
}

.section {
  padding: 90px 0;
}

.section:first-child {
  padding-top: 0;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex_column {
  flex-direction: column;
}

.flex_nowrap {
  flex-wrap: nowrap;
}

.flex_right {
  justify-content: flex-end;
}

.flex_start {
  align-items: flex-start;
}

.flex_vertical {
  align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-color: rgb(0 0 0 / 60%);
}

.aligned-text {
  display: flex;
  flex-flow: row nowrap;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.line-height-small {
  line-height: 1.15;
}
